@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Luckiest+Guy&family=Paytone+One&family=Quicksand:wght@300;400;500&display=swap');
* {
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif!important;
}

.container h2 {
    font-family: 'Luckiest Guy', cursive;
}

.row>* {
    padding-left: 0!important;
}

h2 {
    margin-bottom: 50px!important;
}

.radio .form-control {
    font-family: system-ui, sans-serif;
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.1;
    display: grid;
    grid-template-columns: 1em auto;
    gap: 0.5em;
}

.form-check .form-check-input {
     float: left!important; 
     margin-right: 1em!important; 
}

.radios {
    width:45%!important;
}


@media (max-width: 1200px) {
    .radios {
        width:30%!important;
        max-width:30%!important;
    }
    #add {
        margin-left: 136px!important;
    }
    #back {
        margin-left: -43px!important;
    }
}

@media (max-width: 992px) {
    .radios {
        width:30%!important;
        max-width:30%!important;
    }
    #add {
        margin-left: 151px!important;
    }
    #back {
        margin-left: -96px!important;
    }
}

@media (max-width: 768px) {
    .radios {
        width:30%!important;
        max-width:30%!important;
    }
    #add {
        margin-left: 178px!important;
    }
    #back {
        margin-left: -158px!important;
    }
}


@media (max-width: 576px) {
    .radios {
        width:30%!important;
        max-width:30%!important;
    }
    #add {
        margin-right: -144px!important;
    }
    #back {
        margin-left: -13px!important;
    }
}